.container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.container .courses {
  margin-bottom: 10px;
  width: 90%;
  border-radius: 7px;
  background-color: white;
  padding: 5px;
}

.container .courses .item{
  margin:0 10px;
}

.container .bigTitle {
  display: flex;
  flex-direction: column;
}

.container .bigTitle .info {
  display: flex;
  flex-direction: flex;
  font-size: small;
}

.container .bigTitle .info .info-txt{
  margin-right: auto;
}

.container .bigTitle .title {
  font-size: large;
}

.container .content {
  font-size: small;
}